*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    text-transform: none;
    outline: none;
    user-zoom: none;
    user-select: none;
    border: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
	background: #DDE5F4;
    overflow:hidden;
}
button{
    cursor: pointer;
}
.App{
    width: 100%;
    height: 100%;
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container form{
	position: absolute;
    border-radius: 5px;
    background: #ecf4fefa;
    padding: 20px 30px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 3px rgba(94, 104, 121, 0.288);
}
h1{
	color: #126F97;
	margin-bottom: 2rem;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.user-Box{
    width: 100%;
    height: 43px;
    position: relative;
    background: none;
    margin-top: 1.8rem;
}
.user-Box input{
	width: 100%;
    height: 100%;
    background: none;
    padding-left: 50px;
    color: #333;
    font-size: 18px;
    border-radius: 30px;
    box-shadow:inset -3px -3px 7px #ffffff73,inset 2px 2px 3px rgba(94, 104, 121, 0.288);
}
.user-Box svg{
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    color: #126F97;
    padding-left: .7rem;
    width: 40px;
    height: 40px;
}
.user-Box label {
    position: absolute;
    text-transform: capitalize;
    top: 50%;
    left: 50px;
    font-weight: 700;
    transition: .3s;
    pointer-events: none;
    transform: translateY(-50%);
    color: #444;
}
.user-Box input:valid ~ label{
    opacity: 0;
}
.user-Box .hide,.user-Box .show{
    margin-left: 83%;
    cursor: pointer;
    width: 35px;
}
.hide{
    display: none;
}
.show{
    display: inline-block;
}
.fogot{
    height: 30px;
    overflow: hidden;
    width: 8rem;
}
.fogot,.signup{
    margin: 20px auto;
    margin-bottom: 5px;
}
.fogot a,.signup a{
    color:#0984e3;
    font-size: 15px;
    text-transform: capitalize;
    position: relative;
    transition: .5s linear;
    font-weight: 600;
}
.fogot a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #0985e3ad;
    bottom: -5px;
    border-radius: 1rem;
    left: 0;
    transform: translate(-105%,20%);
}
.fogot a:hover::before{
    animation: 1s linear 0s infinite alternate move_eye;
}
.fogot a:hover,.signup a:hover{
    color: #444;
}
.signup a::before{
    content: '';
    position: absolute;
    width: 20%;
    height: 10px;
    background: #0985e3ad;
    bottom: -10px;
    border-radius: 100%;
    left: 0;
    transform: translate(-200%,20%);
    opacity: 0;
    transition: all .5 linear;
}
.signup a:hover::before{
    opacity: 1;
    animation: .4s linear 0s forwards alternate move;
}
.submit-btn input{
    width: 100%;
    cursor: pointer;
    height: 40px;
    color: #333;
    border-radius: 30px;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    background: #dde1e7;
    font-weight: 600;
    margin-bottom: 10px;
    box-shadow: -3px -3px 7px #dad6d67e, 2px 2px 3px rgba(94, 104, 121, 0.288);
}
.submit-btn input:active{
    box-shadow:inset -3px -3px 7px #ffffff73,inset 2px 2px 3px rgba(94, 104, 121, 0.288);
}
.signup{
    text-transform: capitalize;
    text-align: center;
    color: #333;
    font-weight: 600;
}
.active-SignUp{
	animation-name: foregrS;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}
.active-Login{
	animation-name: foregrL;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}
.inactive-SignUp{
	animation-name: overS;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}
.inactive-Login{
	animation-name: overL;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}
.container .SignUp .submit-btn{
    margin-top:2rem;
}
.container .errors{
    position: absolute;
    top: 0;right: 0;
    padding: 1rem;
    background: #E95645;
    font-size: 1.2rem;
    color: white;
    text-align: left;
    width: 29rem;
    z-index: 2;
    opacity: 0;
    transition: all .5s linear;
    animation: d 4s normal;
}
.errors svg,.eroorActive svg{

    position: absolute;
    top: 50%;right:1rem;
    width: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}
.eroorActive{
    opacity: 0;
    position: absolute;
    top: 0;right: 0;
    padding: 1rem;
    background: #E95645;
    font-size: 1.2rem;
    color: white;
    text-align: left;
    width: 29rem;
    z-index: 2;
    transition: all .3s linear;
    animation: S 2s infinite;
}
table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
table svg{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    padding-left: .2rem;
}
table th{
    position: sticky;
    top: 0;
    font-size: 1.2rem;
    padding: .5rem;
    background: #CADCF3;
}
td{
    height: 5.5rem;
}
tr{
    border-bottom:1px solid #000;
    text-align: center;
}
tr:nth-child(odd){
    background: #EDF6FF;
}
td:first-child{
    padding-top: .3rem;
    padding-bottom: .3rem;
}
table img{
    width: 5rem;
    height: 5rem;
    border:1px solid #FD6563;
    border-radius: 50%;
}
tr input[type="text"],tr input[type="email"]{
    width: 90%;
    background: none;
    color: #333;
    padding: .5rem;
    background: #fff;
    padding-left: 50px;
    font-size: 18px;
    border-radius: 30px;
    box-shadow:inset -3px -3px 7px rgba(51, 51, 51, 0.459),inset 2px 2px 3px rgba(94, 104, 121, 0.486);
}
.befortbl{
    overflow:auto;
    height: 65.3vh;
    width: 95%;
    margin:auto;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 7px 1px rgba(51, 51, 51, 0.726);
}
.toping{
    display: flex;
    align-items: center;
    padding: .5rem;
    justify-content: space-between;
}
.toping h1{
    text-align: left;
    padding-left: 1rem;
}
.toping button{
    
}
.suc,
.ero{
    position: absolute;
    top: 0;left: 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    transition: all .5s linear;
    transform: scale(0);
}
.suc .cont,
.ero .cont{
    padding: 1rem;
    background: #FD6563;
    width: 20rem;
    height: 10rem;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 700;
    justify-content: center;
    box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.288), 2px 2px 3px rgba(94, 104, 121, 0.288);
}
.suc .cont{
    background: #569B70;
}
.suc .cont svg,
.ero .cont svg{
    position: absolute;
    top: 5%;right: 3%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.Create{
    position: absolute;
    top: 100%;left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-image: radial-gradient(circle, #83bfff, #70c2fe, #5bc5fc, #45c8f8, #2dcaf2, #23cff0, #1dd4ee, #1fd8eb, #30e1ed, #40eaef, #4ff2f0, #5ffbf1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .5s linear;
}
.active form,.Create form{
    background-image: radial-gradient(circle, #0089b6, #0084b4, #007cb1, #0077ae, #006fab, #006da9, #006ba8, #0068a6, #0068a6, #0068a7, #0068a7, #0068a7);
    padding:2rem;
    width: 25rem;
    position: relative;
    box-shadow: -3px 12px 41px 6px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
.active form input,.Create form input{
    width: 100%;
    height: 100%;
    background: none;
    color: #333;
    padding: .5rem;
    background: #fff;
    padding-left: 50px;
    font-size: 18px;
    border-radius: 30px;
    box-shadow:inset -3px -3px 7px rgba(51, 51, 51, 0.459),inset 2px 2px 3px rgba(94, 104, 121, 0.486);
}
.active{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-image: radial-gradient(circle, #83bfff, #70c2fe, #5bc5fc, #45c8f8, #2dcaf2, #23cff0, #1dd4ee, #1fd8eb, #30e1ed, #40eaef, #4ff2f0, #5ffbf1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s linear;
    opacity: 1; 
}
.Create form svg,
.active form svg{
    position: absolute;
    top: 2%;right: 2%;
    width: 2.5rem;
    cursor: pointer;
    height: 2.5rem;
    color: #FFF;
}
.active form h1,.Create form h1{
    color: #FFF;
    text-align: center;
    padding-bottom:.8rem;
}
.information{
    width: 23rem;
    height: 20rem;
    position:absolute;
    top:4.5rem;left: 0;
    color: #FFF;
    background: #126F97;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s linear;
}
ul{
    padding:1rem;
    width:100%;
}
ul li{
    font-size: 1.4rem;
    padding: .5rem;
}
.in{
    font-weight: 600;
    color: #b3f6ff;
}
.informaleft button,
.information button{
    padding: .5rem;
    border:1px solid #FFF;
    color: #FFF;
    background: none;
    cursor: pointer;
    transition: .6s linear;
    margin-left: 1.5rem;
    font-size: 1.1rem;
}
.information button:hover{
    background: #fff;
    color: #076585;
}
.containn{
    width: 23rem;
    height: 20rem;
}
.containn h1{
    text-align: center;
    margin-top: 1rem;
}
.informaleft{
    width: 23rem;
    height: 20rem;
    position:absolute;
    top:4.5rem;left: -30rem;
    color: #b3f6ff;
    background: #076585;
    display: flex;
    transition: .6s linear;
    align-items: center;
    justify-content: center;
}
.read:hover{
    background: linear-gradient(to right bottom, #616161, #9bc5c3,#77a1d3, #79cbca, #e684ae); 
}
.HomePage{
    padding: 1rem;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, #d2f5ff, #d7f6fe, #dcf7fd, #e0f7fd, #e5f8fc, #e7f9fc, #eaf9fb, #ecfafb, #edfafb, #effbfc, #f0fbfc, #f1fbfc);
}
.HomePage nav{
    position: fixed;
    top: 0;left: 0;
    display: flex;
    width: 100%;
    color: #fff;
    background: #165975;
    align-items: center;
    justify-content: space-between;
}
.h{
    color: #FCB694;
}
.cont{
    margin-top:5rem;
}


@keyframes d {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes S {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes move { 
    from {
        transform: translate(-200%,20%);
    } 
    to { 
        transform: translate(200%,20%);
    }  
}
@keyframes move_eye { 
    from {
        transform: translate(-100%,20%);
    } 
    to { 
        transform: translate(120%,20%);
    }  
}
@keyframes foregrL {
    0%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
        z-index: 1;    
        transform: perspective(100px) translate3d(0px, 0px, -30px);
        opacity: 0;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}
@keyframes foregrS {
    0%{
      z-index:2;
      transform: perspective(100px) translate3d(0px, 0px, 0px);
      opacity: 1;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
      z-index: 1;
      transform: perspective(100px) translate3d(0px, 0px, -30px);
      opacity: 0;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}
@keyframes overL {
    0%{
        z-index:1;    
        transform: perspective(100px) translate3d(0px, 0px, -30px);
        opacity: 0;
    }
    50%{
        z-index:2;
        transform: perspective(100px) translate3d(400px, 0px, -30px);
    }
    100%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}
@keyframes overS {
    0%{
      z-index:1;   
      transform: perspective(100px) translate3d(0px, 0px, -30px);
      opacity: 0;
    }
    50%{
      z-index:2;
      transform: perspective(100px) translate3d(-400px, 0px, -30px);
    }
    100%{
      z-index:2;
      transform: perspective(100px) translate3d(0px, 0px, 0px);
      opacity: 1;
    }
}