*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}
body {
	background: #ffc185;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    font-family: 'Jost',sans-serif;
}
.container{
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 10px;
	top: calc(50% - 240px);
	left: calc(50% - 160px);
}
form{
	position: absolute;
	text-align: center;
	background: #fff;
	width: 310px;
	height: 470px;
    overflow: hidden;
	border-radius: 5px;
	padding: 30px 20px 0 20px;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
}
h3{
    font-family: 'Dosis';
	font-size: 35px;
	text-transform: uppercase;
	color: #87613d;
	margin-bottom: 30px;
}
button{
	position: absolute;
	width: 50%;
	height: 60px;
	border: 0;
    bottom: 0;
	font-family: 'Dosis';
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
}
.btnBack,.btnLogin{
    left: 0;
}
.btnSub{
    right: 0;
}
input{
	border: none;
	border-bottom: 1px solid #ffc185;
	width: 93%;
	font-family: 'Roboto';
	color: #ff7d00;
	text-align: left;
	font-size: 21px;
	font-weight:300;
	margin-bottom:25px;
}
.Login{
    z-index: 1;
    transform: perspective(100px) translate3d(0px, 0px, -30px);
    opacity: 0;
}
.SignUp{
    z-index: 2;
}
.active-SignUp{
	animation-name: foregrS;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}
.active-Login{
	animation-name: foregrL;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}
.inactive-SignUp{
	animation-name: overS;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}
.inactive-Login{
	animation-name: overL;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

@keyframes foregrL {
    0%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
        z-index: 1;    
        transform: perspective(100px) translate3d(0px, 0px, -30px);
        opacity: 0;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}
@keyframes foregrS {
    0%{
      z-index:2;
      transform: perspective(100px) translate3d(0px, 0px, 0px);
      opacity: 1;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
      z-index: 1;
      transform: perspective(100px) translate3d(0px, 0px, -30px);
      opacity: 0;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}
@keyframes overL {
    0%{
        z-index:1;    
        transform: perspective(100px) translate3d(0px, 0px, -30px);
        opacity: 0;
    }
    50%{
        z-index:2;
        transform: perspective(100px) translate3d(400px, 0px, -30px);
    }
    100%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}
@keyframes overS {
    0%{
      z-index:1;   
      transform: perspective(100px) translate3d(0px, 0px, -30px);
      opacity: 0;
    }
    50%{
      z-index:2;
      transform: perspective(100px) translate3d(-400px, 0px, -30px);
    }
    100%{
      z-index:2;
      transform: perspective(100px) translate3d(0px, 0px, 0px);
      opacity: 1;
    }
  }